.container{
    width: 100%;
    height: 50px;
    background-color: gold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

button{
    /* width: 150px; */
}